<%- include('./includes/head.ejs') %>
  </head>
  <body>
    <%- include('./includes/navbar.ejs') %>
    <!-- end navbar -->

    <div class="container-fluid page-content my-4">
      <div class="row">
        <div class="col-md-5 form-section">
          <div class="form-content sticky-top">
            <div class="form-header">
              <img src="/img/books-icon.png" alt="Book Inventory" class="d-block mx-auto" width="6%">
              <h5 class="text-center mt-2"><%= mainTitle %></h5>
            </div>
            <% if(category) {%>
              <%- include('./includes/form-categoryUpdate.ejs', {categoryDoc: category}) %>
              <%}
            else {
            %>
            <form enctype="multipart/form-data" class="text-center pt-4" action="addcategory" method="POST">
              <input type="hidden" name="_csrf" value="<%=csrfToken%>">
              <div class="form-group row justify-content-center">
                <label for="name" class="col-form-label col-form-label-sm">Name</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-sm" id="name" name="name" placeholder="Category Name">
                </div>
              </div>
              
              <button type="submit" class="btn btn-add mt-2 px-5">Add</button>
            </form>
            <%}%>
          </div>
        </div><!-- end form -->
        <div class="col-md-7 main-section" style="border-left: 2px solid #dee2e6;">
          <div class="main-header my-3">
            <h5 class="text-center">Category List</h5>
          </div>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th class="col-1">NO</th>
                <th class="col-11">Name</th>
                <th class="col-11">Setting</th>
              </tr>
            </thead>
            <tbody>
              <% 
              let i = 1
              if(categories) {
              for(category of categories) { %>
              <tr>
                <td><%= i %></td>
                <td>
                  <p><%= category.name%></p>
                </td>
                <td>
                  <a href="/admin/updatecategory/<%= category._id %>"><i class="far fa-edit edit-icon"></i></a>
                  <form action="deletedcategory" method="post" class="d-inline-block">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <input type="hidden" name="id" value="<%= category._id %>">
                    <button type="submit" class="btn p-0"><i class="far fa-trash-alt delete-icon"></i></button>
                  </form>
                </td>
              </tr>
              <% i++ } } %>
            </tbody>
          </table>
        </div><!-- end main section -->
      </div>
    </div><!-- end page content -->

    <%- include('./includes/footer.ejs') %>
    <!-- end footer -->
    <script>
      var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
      };
      </script>
  </body>
</html>